<! DOCTYPE html >
<html lang="es">
  <cabeza>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta nombre="viewport" content="width=device-width, initial-scale=1.0" />

    <título>Ultimo Dato</título>
  </cabeza>
  <cuerpo>
  <!-- primera sección-->
    <clase div ="raíz">
      <h1>dato actual sobre el % de vacunación</h1>
      <clase div ="btnBox">
        <p>
 En la República de {{pais}} el ultimo dato fue de {{data}}% en el año {{año}}
        </p>
        <a href="/">Regresar</a>
      </div>
    </div>
  </cuerpo>
</html>



<cabeza>
  <estilo>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,*::después,*::antes{
  relleno: 0;
  margen: 0;
}

html{
  tamaño de fuente: 62.5% ;
}

cuerpo{
  tamaño de la caja: caja de borde;
  tamaño de fuente: 1.6rem ;
  font-family: 'Roboto', sans-serif;
  
}

. raíz{
  altura mínima: 100vh ;
  antecedentes:  #5a92e0;
  pantalla: flex;
  flex-direction: columna;
  justificar-contenido: espacio-alrededor;

  
}

. raíz h1{
  color:  #FAF5F4;
  text-align: centro;
}

.btnBox{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
}

.btnBox a{
  text-decoration: none;
  color: #FAF5F4;
  background-color: #0a5671;
  padding: 1rem 1rem;
  border-radius: 6px;
  width: 100%;
  max-width: 15rem;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  transition: all 300ms;
}

#logo {
              margin: 0;
              text-transform: uppercase;
              font-weight: 700;
              font-stretch: wider;
          }


          nav > a {
              text-decoration: none;
              color: white;
              padding-left: 1rem;
              padding-right: 1rem;
          }
          
          nav > a:hover {
              color:  #0350ae;
          }
          
. btnBox p{
  color:  #FAF5F4;
  tamaño de fuente: 2rem ;

}

. btnBox a:desplazarse{
  color defondo:  #7697e5;

}

. caja{
  pantalla: flex;
  justify-content: centro;
  color:  #FAF5F4;
}
  </estilo>
</cabeza>
© 2021 GitHub, Inc.
Letra chica
P