<! DOCTYPE html >
<html lang="es">
  <cabeza>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta nombre="viewport" content="width=device-width, initial-scale=1.0" />
    <título>Promedio</título>
  </cabeza>
  <cuerpo>
    <clase div ="raíz">
      <div id= "barra -navegación">
        <p id="logo"><span style="color: #019ae7e1;" > Tarea #10</span></p>
        <p id="logo"><span style="color: #035f8ee1;" > Paco Alcantara</span></p>
        </nav>
      </div>
      <h1>Promedio en todos los años de vacunación</h1>
      <clase div ="btnBox">
        <p>El promedio de inmunización es de {{percent}}%</p>
        <a href="/">Regresar</a>
      </div>
    </div>
  </cuerpo>
</html>



<cabeza>
  <estilo>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,*::después,*::antes{
  relleno: 0;
  margen: 0;
}

html{
  tamaño de fuente: 62.5% ;
}

cuerpo{
  tamaño de la caja: caja de borde;
  tamaño de fuente: 1.6rem ;
  font-family: 'Roboto', sans-serif;
  
}

. raíz{
  altura mínima: 100vh ;
  antecedentes:  #5a92e0;
  pantalla: flex;
  flex-direction: columna;
  justificar-contenido: espacio-alrededor;

  
}

. raíz h1{
  color:  #FAF5F4;
  text-align: centro;
}

.btnBox{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
}

.btnBox a{
  text-decoration: none;
  color: #FAF5F4;
  background-color: #0a5671;
  padding: 1rem 1rem;
  border-radius: 6px;
  width: 100%;
  max-width: 15rem;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  transition: all 300ms;
}

#logo {
              margen: 0;
              text-transform: mayúsculas;
              font-weight: 700;
              font-stretch: más ancho;
          }


          nav > un {
              texto-decoración: ninguno;
              color: blanco;
              relleno-izquierda: 1rem ;
              acolchado-derecha: 1rem ;
          }
          
          nav > a:hover {
              color:  #0350ae;
          }
          
. btnBox p{
  color:  #FAF5F4;
  tamaño de fuente: 2rem ;

}

. btnBox a:desplazarse{
  color defondo:  #7697e5;

}

. caja{
  pantalla: flex;
  justify-content: centro;
  color:  #FAF5F4;
}
  </estilo>
</cabeza>