<! DOCTYPE html >
<html lang="es">
  <cabeza>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta nombre="viewport" content="width=device-width, initial-scale=1.0" />
    <enlace
      rel="hoja de estilo"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <título>Parcial II</título>
  </cabeza>
  <cuerpo>
    <clase div ="raíz">
      <div id= "barra -navegación">
        <p id="logo"><span style="color: #253a45e1;" > Parcial II</tramo<>/p>
        <p id="logo"><span style="color: #035f8ee1;" > Paco Alcantara</span></p>
        </nav>
    <clase div ="raíz">
      <h1>API del Banco MundialResto </h1>
      <clase div ="btnBox">
        <a href="/datosvacunas">Ver Ultimo dato</a>
        <a href="/disponibilidad">Ver promedio</a>
      </div>
    </div>
  </cuerpo>
</html>


<cabeza>
  <estilo>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,*::después,*::antes{
  relleno: 0;
  margen: 0;
}

html{
  tamaño de fuente: 62.5% ;
}

cuerpo{
  tamaño de la caja: caja de borde;
  tamaño de fuente: 1.6rem ;
  font-family: 'Roboto', sans-serif;
  
}

. raíz{
  altura mínima: 100vh ;
  antecedentes:  #5a92e0;
  pantalla: flex;
  flex-direction: columna;
  justificar-contenido: espacio-alrededor;

  
}

. raíz h1{
  color:  #FAF5F4;
  text-align: centro;
}

. btnBox{
  align-self: centro;
  pantalla: flex;
  flex-direction: columna;
  align-items: centro;
  justify-content: centro;
  intervalo de fila: 3rem ;
}

. btnBox a{
  texto-decoración: ninguno;
  color:  #FAF5F4;
  color defondo:  #0a5671;
  relleno: 1rem  1rem ;
  radio de borde: 6px ;
  ancho: 100% ;
  ancho máximo: 15rem ;
  radio de borde: 20px ;
  display: bloque en línea;
  text-align: centro;
  transición: todos los 300ms ;
}

 #logotipo {
              margen: 0;
              text-transform: mayúsculas;
              font-weight: 700;
              font-stretch: más ancho;
          }


          nav > un {
              texto-decoración: ninguno;
              color: blanco;
              relleno-izquierda: 1rem ;
              acolchado-derecha: 1rem ;
          }
          
          nav > a:hover {
              color:  #0350ae;
          }
          
. btnBox p{
  color:  #FAF5F4;
  tamaño de fuente: 2rem ;

}

. btnBox a:desplazarse{
  color defondo:  #7697e5;

}

. caja{
  pantalla: flex;
  justify-content: centro;
  color:  #FAF5F4;
}
  </estilo>
</cabeza>